.vanilla-table {
	--rounded-corner: 0;
	border-radius: var(--rounded-corner);
	box-shadow: 0 0 0 1px var(--border-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-size: 12px;
	height: 100%;
}

.vanilla-table-text,
.vanilla-table-search {
	align-items: center;
}

.vanilla-table-title,
.vanilla-table-text,
.vanilla-table-search,
.vanilla-table-layout {
	display: flex;
}

.vanilla-table-layout,
.vanilla-table-flexible {
	flex-grow: 1;
}

.vanilla-table-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.vanilla-table input[type="text"] {
	appearance: none;
	border: none;
	outline: none;
}

.vanilla-table-title {
	border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
	box-shadow: 0 1px 0 0 var(--border-color);
	justify-content: space-between;
	padding: 10px;
}

.vanilla-table-text {
	font-size: 1.5em;
	font-weight: bold;
}

.vanilla-table-search {
	border-radius: var(--rounded-corner);
	box-shadow: 0 0 0 1px var(--border-color);
	position: relative;
}

.vanilla-table-search .vanilla-table-input {
	line-height: 30px;
	padding: 0 10px;
	width: calc(100% - 40px);
}

.vanilla-table-clear-search-input {
	position: absolute;
	top: 50%;
	right: 5px;
	cursor: pointer;
	height: 20px;
	opacity: .25;
	transform: translateY(-50%);
	transition: opacity .2s;
	width: 20px;
}

.vanilla-table-search:hover .vanilla-table-clear-search-input {
	opacity: .5;
}

.vanilla-table-search:hover .vanilla-table-clear-search-input:hover {
	opacity: .75;
}

.vanilla-table-layout {
}

.vanilla-table-fixed {
	overflow-x: auto;
}

/**
 * Theme
 */
.vanilla-table {
	--border-color: #a2a5ba;
	--text-color: #525460;
}

.vanilla-table-title {
}

.vanilla-table-search {
	background-color: #fff;
}

.vanilla-table-search .vanilla-table-input {
	background-color: transparent;
}

.vanilla-table-clear-search-input {
	background-image: url('data:image/svg+xml;utf8,<svg height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"> <path d="M21.25 0H2.75A2.752 2.752 0 000 2.75v18.5A2.752 2.752 0 002.75 24h18.5A2.752 2.752 0 0024 21.25V2.75A2.752 2.752 0 0021.25 0zM20 16.25c0 .965-.785 1.75-1.75 1.75h-8.5a.753.753 0 01-.543-.232l-5-5.25a.75.75 0 010-1.035l5-5.25A.75.75 0 019.75 6h8.5c.965 0 1.75.785 1.75 1.75z"/> <path d="M16.5 15a.997.997 0 01-.707-.293l-4-4a.999.999 0 111.414-1.414l4 4A.999.999 0 0116.5 15z"/> <path d="M12.5 15a.999.999 0 01-.707-1.707l4-4a.999.999 0 111.414 1.414l-4 4A.997.997 0 0112.5 15z"/></svg>');
}